/* Some Base CSS Rules */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html{
	height: 100%!important;
}
body {
	height: 100%;
	position: relative;
}

body {
	//font-size: 62.5%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #6B6A6A;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	background-color: #0079BF;
}
.container{
	min-width: 280px;
}

.clearfix:after,
.clearfix:before{
	display: table;
	content: " ";
}
.clearfix:after{
	clear: both;
}
[ng\:cloak], [ng-cloak], .ng-cloak{
	display: none;
}

input{
	outline: none;
}
form input.ng-dirty.ng-invalid{
	//border: 1px solid red;
}
form input.ng-dirty.ng-valid{
	//border: 1px solid green;
}

ul{
	list-style: none;
}
a:focus{
	color: inherit;
	outline: none;
	text-decoration: none;
}
